.bg-gold{
    background-color: rgb(119, 86, 3);
}
.btn:hover{
    background-color: goldenrod;
}
.header-banner{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    
     
}